{
  "openapi": "3.0.0",
  "info": {
    "title": "Whetdata API",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://whetdata.com" }
  ],
  "paths": {
    "/api/ult": {
      "post": {
        "summary": "Ultimate Text Processing Orchestrator",
        "description": "Central orchestrator endpoint that executes multiple text processing operations (classification, nudges, clean) in parallel. Each operation runs independently and results are combined into a single response.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action", "text"],
                "properties": {
                  "action": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["classification", "nudges", "clean"]
                    },
                    "description": "Array of operations to execute in parallel. Supports: classification, nudges, clean"
                  },
                  "ruleset": {
                    "type": "string",
                    "description": "Ruleset name (required for nudges and clean operations)"
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 5000,
                    "description": "Input text to process (max 5,000 characters)"
                  },
                  "max_nudges": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Maximum number of nudges to generate (required for nudges action)"
                  }
                }
              },
              "examples": {
                "multi_action": {
                  "summary": "Batch two actions",
                  "value": {
                    "action": ["classification", "nudges"],
                    "text": "Premium wireless headphones with active noise cancellation and 30-hour battery life.",
                    "ruleset": "product_review",
                    "max_nudges": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success - Returns combined results from all requested operations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Overall success status"
                    },
                    "results": {
                      "type": "object",
                      "description": "Combined results from all executed operations",
                      "properties": {
                        "classification": {
                          "type": "object",
                          "description": "Classification results (if classification was requested)",
                          "properties": {
                            "categories": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "nudges": {
                          "type": "array",
                          "description": "Nudge suggestions (if nudges was requested)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": { "type": "string" },
                              "suggestion": { "type": "string" },
                              "priority": { "type": "string" }
                            }
                          }
                        },
                        "clean": {
                          "type": "object",
                          "description": "Clean results (if clean was requested)",
                          "properties": {
                            "cleaned_text": { "type": "string" }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "description": "Errors for individual operations that failed",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "description": "Warning messages (e.g., fallback ruleset usage)",
                      "items": {
                        "type": "string"
                      }
                    },
                    "timings": {
                      "type": "object",
                      "description": "Individual operation timings in milliseconds",
                      "additionalProperties": {
                        "type": "number"
                      }
                    },
                    "timing": {
                      "type": "object",
                      "description": "Overall request timing breakdown",
                      "properties": {
                        "apiKeyValidation": { "type": "number" },
                        "rateLimitCheck": { "type": "number" },
                        "bodyParsing": { "type": "number" },
                        "actionProcessing": { "type": "number" },
                        "total": { "type": "number" }
                      }
                    }
                  }
                },
                "example": {
                  "summary": "Batch response",
                  "value": {
                    "success": true,
                    "results": {
                      "classification": {
                        "categories": {
                          "sentiment_overall": 45,
                            "is_positive": 70,
                            "is_negative": 60,
                            "is_neutral": 5,

                            "mentions_taste": 90,
                            "mentions_temperature": 95,
                            "mentions_portion_size": 0,
                            "mentions_freshness_or_quality": 20,

                            "mentions_missing_items": 100,

                            "is_actionable": 100,
                            "requests_refund": 100,
                            "reports_problem": 95,
                            "reports_health_or_safety_issue": 0,

                            "mentions_app_or_payment_issue": 0
                          }
                      },
                      "nudges": [
                        {
                          "type": "improvement",
                          "suggestion": "Add specific technical details",
                          "priority": "0.8"
                        },
                        {
                          "type": "improvement",
                          "suggestion": "Highlight unique selling points",
                          "priority": "0.7"
                        }
                      ]
                    },
                    "timings": {
                      "classification": 450,
                      "nudges": 997
                    },
                    "timing": {
                      "apiKeyValidation": 435,
                      "rateLimitCheck": 427,
                      "bodyParsing": 1,
                      "actionProcessing": 997,
                      "total": 1861
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/classification": {
      "post": {
        "summary": "Classification",
        "description": "Classify text into semantic categories with scores across 11 categories.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action", "text"],
                "properties": {
                  "action": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["classification"]
                    }
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 5000
                  }
                }
              },
              "example": {
                "categories": [
                      "sentiment_overall",
                      "is_positive",
                      "is_negative",
                      "is_neutral",
                      "mentions_taste",
                      "mentions_temperature",
                      "mentions_portion_size",
                      "mentions_freshness_or_quality",
                      "mentions_missing_items",
                      "is_actionable",
                      "requests_refund",
                      "reports_problem",
                      "reports_health_or_safety_issue",
                      "mentions_app_or_payment_issue"
                    ],
                "text": "The food actually tasted really good, but it arrived completely cold and one of the dishes was missing. I’d like a refund because this was really disappointing."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "result": {
                    "categories": {
                     "sentiment_overall": 45,
                      "is_positive": 70,
                      "is_negative": 60,
                      "is_neutral": 5,

                      "mentions_taste": 90,
                      "mentions_temperature": 95,
                      "mentions_portion_size": 0,
                      "mentions_freshness_or_quality": 20,

                      "mentions_missing_items": 100,

                      "is_actionable": 100,
                      "requests_refund": 100,
                      "reports_problem": 95,
                      "reports_health_or_safety_issue": 0,

                      "mentions_app_or_payment_issue": 0
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/nudges": {
      "post": {
        "summary": "Nudges",
        "description": "Generate improvement suggestions for your text.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action", "text", "ruleset"],
                "properties": {
                  "action": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["nudges"]
                    }
                  },
                  "ruleset": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "max_nudges": {
                    "type": "integer",
                    "minimum": 1
                  }
                }
              },
              "example": {
                "action": ["nudges"],
                "text": "a dashing red cup ",
                "ruleset": "product_review",
                "max_nudges": 3
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "action": ["nudges"],
                  "ruleset": "product_review",
                  "max_nudges": 3,
                  "nudges": [
                    {
                      "type": "improvement",
                      "suggestion": "Add context to clarify what the cup is for or where it is.",
                      "priority": "0.8"
                    },
                    {
                      "type": "improvement",
                      "suggestion": "Use more descriptive language to evoke visuals or emotions.",
                      "priority": "0.7"
                    },
                    {
                      "type": "improvement",
                      "suggestion": "Include specific measurements or details about the cup.",
                      "priority": "0.6"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clean": {
      "post": {
        "summary": "Clean",
        "description": "Fix spelling and grammar errors in your text.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action", "text"],
                "properties": {
                  "action": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["clean"]
                    }
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "ruleset": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "action": ["clean"],
                "text": "This is a sentance with speling and grammer erors that need to be fixed.",
                "ruleset": "product_review"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "action": ["clean"],
                  "ruleset": "product_review",
                  "cleaned_text": "This is a sentence with spelling and grammar errors that need to be fixed."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}
